<nav class="sm_megamenu_wrapper_horizontal_menu sambar" id="sm_megamenu_menu58f23d318819a" data-sam="19073557921492270385">
    <div class="sambar-inner">
        <span class="btn-sambar" data-sapi="collapse" data-href="#sm_megamenu_menu58f23d318819a">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </span>
        <ul class="sm-megamenu-hover sm_megamenu_menu sm_megamenu_menu_black" data-jsapi="on">
            <li class="other-toggle sm_megamenu_lv1 sm_megamenu_drop parent">
                <a class="sm_megamenu_head sm_megamenu_drop sm_megamenu_haschild" href="<%= erp_vinhhaoninhthuan.root_path %>">
                    <span class="sm_megamenu_icon sm_megamenu_nodesc">
                        <span class="sm_megamenu_title">Trang Chủ</span>
                    </span>
                </a>
            </li>
            <% Erp::MiniStores::Category.get_parent_categories.each do |menu| %>
                <li class="football-width-parent other-toggle sm_megamenu_lv1 sm_megamenu_drop parent    ">
                    <a class="sm_megamenu_head sm_megamenu_drop sm_megamenu_haschild" href="<%= erp_vinhhaoninhthuan.product_listing_path %>" id="sm_megamenu_276">
                        <span class="sm_megamenu_icon sm_megamenu_nodesc">
                            <span class="sm_megamenu_title"><%= menu.name %></span>
                        </span>
                    </a>
                    <% if menu.children.count > 0 %>
                    <div class="sm-megamenu-child sm_megamenu_dropdown_4columns ">
                        <div class="sm_megamenu_col_4 sm_megamenu_firstcolumn football-width">
                            <% menu.children.each do |menu_child_1| %>
                            <div class="sm_megamenu_col_3 sm_megamenu_firstcolumn ">
                                <div class="sm_megamenu_head_item">
                                    <div class="sm_megamenu_title  "><span class="sm_megamenu_title_lv-2"><%= menu_child_1.name %></span>
                                        <% menu_child_1.children.each do |menu_child_2| %>
                                        <div class="sm_megamenu_col_6 sm_megamenu_firstcolumn remove-padding">
                                            <div class="sm_megamenu_head_item">
                                                <div class="sm_megamenu_title  ">
                                                    <a class="sm_megamenu_nodrop " href="<%= erp_vinhhaoninhthuan.product_listing_path %>"></a>
                                                    <div class="sm_megamenu_title  product-items">
                                                        <h3 class="product-name"><%= link_to menu_child_2.name, erp_vinhhaoninhthuan.product_listing_path, title: "" %></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </li>
            <% end %>
            
            <li class="other-toggle sm_megamenu_lv1 sm_megamenu_drop parent ">
                <a class="sm_megamenu_head sm_megamenu_drop " href="<%= erp_vinhhaoninhthuan.about_us_path %>" id="sm_megamenu_315">
                    <span class="sm_megamenu_icon sm_megamenu_nodesc">
                          <span class="sm_megamenu_title">Giới Thiệu</span>
                    </span>
                </a>
            </li>
            <li class="other-toggle sm_megamenu_lv1 sm_megamenu_drop parent ">
                <a class="sm_megamenu_head sm_megamenu_drop " href="<%= erp_vinhhaoninhthuan.contact_us_path %>" id="sm_megamenu_316">
                    <span class="sm_megamenu_icon sm_megamenu_nodesc">
                        <span class="sm_megamenu_title">Liên Hệ</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script>
    require(["jquery", "mage/template"], function() {
		// <![CDATA[
		jQuery(document).ready(function($) {
				var menu_width = $('.sm_megamenu_wrapper_horizontal_menu').width();
				$('.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li > div').each(function() {
						$this = $(this);
						var lv2w = $this.width();
						var lv2ps = $this.position();
						var lv2psl = $this.position().left;
						var sw = lv2w + lv2psl;
						if (sw > menu_width) {
								$this.css({
										'right': '0'
								});
						}
				});
				var _item_active = $('div.sm_megamenu_actived');
				if (_item_active.length) {
						_item_active.each(function() {
								var _self = $(this),
										_parent_active = _self.parents('.sm_megamenu_title'),
										_level1 = _self.parents('.sm_megamenu_lv1');
								if (_parent_active.length) {
										_parent_active.each(function() {
												if (!$(this).hasClass('sm_megamenu_actived'))
														$(this).addClass('sm_megamenu_actived');
										});
								}
								if (_level1.length && !_level1.hasClass('sm_megamenu_actived')) {
										_level1.addClass('sm_megamenu_actived');
								}
						});
				}
		});
		// ]]>
});

require([
		'jquery'
], function($) {
		$('#sidebar-button').click(function() {
				$('body').toggleClass('navbar-active');
				$(this).toggleClass('active');
		});

		$('.navigation-mobile > ul li').has('ul').append('<span class="touch-button"><span>open</span></span>');

		$('.touch-button').click(function() {
				$(this).prev().slideToggle(200);
				$(this).toggleClass('active');
				$(this).parent().toggleClass('parent-active');
		});

});
</script>