<ul>
    <li class="level-top parent">
        <%= link_to '<span>Yến Sào</span>'.html_safe, "", class: "level-top" %>
        <ul class="submenu">
            <li class="first parent">
                <%= link_to '<span>Chuyên Mục</span>'.html_safe, "" %>
                <ul class="lsubmenu">
                    <li>
                        <%= link_to '<span>Chuyên mục yến sào</span>'.html_safe, "" %>
                    </li>
                </ul>
            </li>
            <li class="first parent">
                <%= link_to '<span>Chuyên Mục</span>'.html_safe, "" %>
                <ul class="lsubmenu">
                    <li>
                        <%= link_to '<span>Chuyên mục yến sào</span>'.html_safe, "" %>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="level-top">
        <%= link_to '<span>Giới Thiệu</span>'.html_safe, "", class: "level-top" %>
    </li>
    <li class="level-top">
        <%= link_to '<span>Liên Hệ</span>'.html_safe, "", class: "level-top" %>
    </li>
</ul>