<%= render "erp/vinhhaoninhthuan/frontend/modules/slideshow" %>        
<main id="maincontent" class="page-main">
    <a id="contentarea" tabindex="-1"></a>
    <div class="columns col1-layout">
        <div class="container">
            <div class="container">
                <div class="banner-image banner-home">
                    <%= link_to image_tag("/frontend/images/san-pham-nuoc.jpg", alt: "Sản phẩm nước Vĩnh Hảo"), "", title: "Sản phẩm nước Vĩnh Hảo" %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="column main">                          
                        <div class="home-style">
                            <div class="container">
                                <div class="news-home">
                                    <div class="center-title">
                                        <div class="name-title">
                                            <h2>SẢN PHẨM NƯỚC VĨNH HẢO</h2>
                                        </div>
                                        <div class="bs-pretext">Danh sách sản phẩm nước Vĩnh Hảo</div>
                                    </div>
                                    <div class="sm-basic-products">
                                        <!-- Begin bs-items     -->
                                        <div class="products-grid bs-resp01-4 bs-resp02-4 bs-resp03-2 bs-resp04-2 bs-resp05-1 ">
                                            <% (0..7).each do |item| %>
                                            <!-- Begin bs-item-cf -->
                                            <div class="item product product-item bs-item cf">
                                                <!-- Begin bs-item-inner -->
                                                <div class="product-item-info">
                                                    <div class="item-inner">
                                                        <div class="bs-category">
                                                            <%= link_to "NƯỚC VĨNH HẢO", "", title: "Nước Vĩnh Hảo" %>
                                                        </div>
                                                        <div class="box-image">
                                                            <%= link_to image_tag("/frontend/images/g13_2.jpg", alt: ""), "", title: "", class: "product photo product-item-photo" %>
                                                            <!--LABEL PRODUCT-->
                                                            <div class="label-product label-new">
                                                                <span class="new-product-icon">MỚI</span>
                                                            </div>
                                                            <!--END LABEL PRODUCT-->
                                                        </div>
                                                        <!-- Begin bs-content -->
                                                        <div class="product details product-item-details box-info">
                                                            <h2 class="product name product-item-name product-name">
                                                                <%= link_to "Tên sản phẩm", "", title: "" %>
                                                            </h2>
                                                            <div class="price-box price-final_price">
                                                                <span class="price-container price-final_price tax weee">
                                                                    <span class="price-wrapper ">
                                                                    <span class="price">120,000 đ</span>
                                                                </span>
                                                            </div>
                                                            <div class="hover-content"></div>
                                                        </div>
                                                        <!-- End bs-content -->
                                                    </div>
                                                </div>
                                                <!-- End bs-item-inner -->
                                            </div>
                                            <!-- End bs-item-cf -->
                                            <div class="clr1"></div>
                                            <% end %>
                                        </div>
                                        <!-- End bs-items -->
                                    </div>
                                    <!-- End Sm-basic-products -->
                                </div>
                            </div>                                                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="banner-image banner-home">
                    <%= link_to image_tag("/frontend/images/san-pham-yen-sao.jpg", alt: "Sản phẩm yến sào"), "", title: "Sản phẩm yến sào" %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="column main">                          
                        <div class="home-style">
                            <div class="container">
                                <div class="news-home">
                                    <div class="center-title">
                                        <div class="name-title">
                                            <h2>SẢN PHẨM YẾN SÀO</h2>
                                        </div>
                                        <div class="bs-pretext">Danh sách sản phẩm yến sào</div>
                                    </div>
                                    <div class="sm-basic-products">
                                        <!-- Begin bs-items     -->
                                        <div class="products-grid bs-resp01-4 bs-resp02-4 bs-resp03-2 bs-resp04-2 bs-resp05-1 ">
                                            <% (0..7).each do |item| %>
                                            <!-- Begin bs-item-cf -->
                                            <div class="item product product-item bs-item cf">
                                                <!-- Begin bs-item-inner -->
                                                <div class="product-item-info">
                                                    <div class="item-inner">
                                                        <div class="bs-category">
                                                            <%= link_to "SẢN PHẨM YẾN SÀO", "", title: "Yến sào" %>
                                                        </div>
                                                        <div class="box-image">
                                                            <%= link_to image_tag("/frontend/images/g13_2.jpg", alt: ""), "", title: "", class: "product photo product-item-photo" %>
                                                            <!--LABEL PRODUCT-->
                                                            <div class="label-product label-new">
                                                                <span class="new-product-icon">MỚI</span>
                                                            </div>
                                                            <!--END LABEL PRODUCT-->
                                                        </div>
                                                        <!-- Begin bs-content -->
                                                        <div class="product details product-item-details box-info">
                                                            <h2 class="product name product-item-name product-name">
                                                                <%= link_to "Tên sản phẩm", "", title: "" %>
                                                            </h2>
                                                            <div class="price-box price-final_price">
                                                                <span class="price-container price-final_price tax weee">
                                                                    <span class="price-wrapper ">
                                                                    <span class="price">120,000 đ</span>
                                                                </span>
                                                            </div>
                                                            <div class="hover-content"></div>
                                                        </div>
                                                        <!-- End bs-content -->
                                                    </div>
                                                </div>
                                                <!-- End bs-item-inner -->
                                            </div>
                                            <!-- End bs-item-cf -->
                                            <div class="clr1"></div>
                                            <% end %>
                                        </div>
                                        <!-- End bs-items -->
                                    </div>
                                    <!-- End Sm-basic-products -->
                                </div>
                            </div>                                                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>