<!doctype html>
<html lang="en-US">

<head>
    <script>
        var require = {
            "baseUrl": "/frontend/"
        };
    </script>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vĩnh Hảo Ninh Thuận</title>
    <%= stylesheet_link_tag "/frontend/css/c471c8cd87422929f0a09238ea9ca849.min.css" %>
    <%= stylesheet_link_tag "/frontend/css/styles-l.min.css", media: "screen and (min-width: 768px)" %>
    <%= stylesheet_link_tag "/frontend/css/print.min.css", media: "print" %>
    <%= stylesheet_link_tag "/frontend/css/gallery.min.css" %>
    <%= favicon_link_tag '', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag '', rel: 'shortcut icon', type: 'image/png' %>
    <%= javascript_include_tag "/frontend/js/b3d2549bfa355ccf53c6f3d3f88adf4e.min.js" %>
    <%= stylesheet_link_tag "/frontend/css/css.css" %>
    <%= stylesheet_link_tag "/frontend/css/config_1.css" %>    

    <script type="text/javascript">
        require([
            'domReady!',
            'yttheme'
        ], function($) {
            //console.log('Test Done');
        });
    </script>


    <!--CUSTOM JS-->

    <script type="text/javascript">
        require([
            'jquery',
            'domReady!'
        ], function($) {
            $('body').addClass("home-1-style");
            $('body').addClass("header-1-style");
        });
    </script>

    <!--LISTING CONFIG-->
    <%= stylesheet_link_tag "/frontend/css/styles.css" %>

    <%= javascript_include_tag "/frontend/js/main.js" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900" %>
    <%= stylesheet_link_tag "/frontend/css/custom.css" %>
</head>

<body data-container="body" class="cms-home cms-index-index page-layout-1column">    
    <noscript>
        <div class="message global noscript">
            <div class="content">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong>
                    <span>For the best experience on our site, be sure to turn on Javascript in your browser.</span>
                </p>
            </div>
        </div>
    </noscript>
    <div class="page-wrapper">
        <div class="header-container header-style-1">
            <%= render "erp/vinhhaoninhthuan/frontend/modules/header" %>            
        </div>
        <%= yield %>
        <footer class="page-footer">
            <div class="footer footer-wrapper">
                <%= render "erp/vinhhaoninhthuan/frontend/modules/footer" %>
                <a id="yt-totop" href="javascript:void(0)" title="Lên đầu trang"></a>
            </div>
        </footer>
        <div id="cartpro_process" class="cartpro-process">
            <div class="cartpro-loadmark">
                <div class="cartpro-imageload">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <div class="cartpro-text">
                        Đang tải... </div>
                </div>
            </div>
        </div>        
    </div>
</body>

</html>